
<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 panel panel-default">
<%= form_for @rest_web_client, url: {action: "create"} do |f| %>
    <% if @rest_web_client.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@rest_web_client.errors.count, "error") %> prohibited this rest_web_client from being saved:</h2>

          <ul>
            <% @rest_web_client.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :username %><br>
      <%= f.text_field :username %>
    </div>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.text_field :password %>
    </div>
	<br>
    <%= f.submit :class => "btn btn-success btn-lg" %>
<% end %>


<%= link_to 'Back', rest_web_clients_path %>

			

			</div><!-- //main content -->
		</div><!-- //row -->
	</div> <!-- //container -->
</body>
</html>
